@import "../../../variables";

.text_area {
  //transition: $default_transition;
  border-radius: $border_radius;
  height: 100px;
  width: 50%;
  flex-shrink: 0;

  resize: horizontal;
  overflow: hidden;
  color: var(--index_0_text);
  &:focus{
    outline: none;
  }
  &::-webkit-resizer{
    border-style: solid;
    border-color: transparent orangered orangered transparent;
  }

  @include default_h3($size: 15px, $weight: $font_weight-index1);
  @include small_padding($vertical: 5px, $horizontal: 5px)
}

@each $scheme in $color_schemes {
  .text_area.#{map-get($scheme, 'class_name')} {
    background-color: map-get($scheme, 'background');
    border: map-get($scheme, 'border') 1px solid;


  }

}